*{
    margin: 0;
    padding: 0;
    
}
body{
    margin: 0;
    height: 100vh;
    justify-items: center;
    background-image: url("/static/contas/fundo.png");
    background-repeat: no-repeat;
    background-size:cover ;
    overflow: hidden;
    background-position-x: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #eaeaea;
    font-size: 60px ;
    margin:8vh; 
    white-space:nowrap;
}
.conteine1{
    background-color: rgba(75, 75, 75, 0.336);
    color: rgb(255, 170, 109);
    justify-items: center;
    width: 50vw;
    max-width: 500px;
    height: auto;
    min-height: 45vh;
    font-size: 2rem;
    padding-top: 3vh;
    border-radius: 30px;
}
form{
    justify-items: center;
    font-size: 3rem;
    display: grid;
}
input{
    font-size: 2rem;
    width: 20rem;
    margin-top: 20px;
    border-radius: 10px;
}
.enviar{
    width: 10rem;
    margin: 20px;
    background-color: rgba(0, 119, 255, 0.747);
}
.Criar_conta{
    font-size: 18px;
    position: relative;
    left: -90px ;
    top: 5px;
    color: rgb(48, 149, 243);
    text-decoration: none;

}
@media (max-width: 500px){
    h1{
        font-size: 4.5vh;
    
    }
    form{
        font-size: 2.5rem;
    }
    input{
        font-size:25px ;
        width: 15rem;
    }
    .conteine1{
        min-width: 400px ;
    }
    .Criar_conta{
        left: -50px ;
    }
    
}
.alert { 
     padding: 15px; 
     margin: 10px 0; 
     border-radius: 50px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
     font-size: 20px;
    }
.alert-success {
     background-color: #d4edda; 
     color: #155724; 
    }
.alert-error { 
    background-color: #f8d7da; 
    color: #721c24; 
}
